<!-- about-us.component.html -->
<div class="container mt-3">
    <div class="text-center mb-2">
      <h1 class="display-4 text-primary">{{ title }}</h1>
      <p class="lead">Discover our values and commitments to our clients.</p>
    </div>
  
    <div class="row">
        <div class="col-md-6">
          <div class="bg-light p-4 rounded-lg shadow-sm text-center mb-4">
            <h3 class="text-primary">Our Vision</h3>
            <p class="mb-4">To be a global leader in technology solutions, fostering innovation and creativity in every project we undertake.</p>
            
          </div>
        </div>
    
        <div class="col-md-6">
          <div class="bg-light p-4 rounded-lg shadow-sm text-center mb-4">
            <h3 class="text-success">Our Mission</h3>
            <p class="mb-4">To empower businesses through innovative technology solutions that drive efficiency and growth.</p>
           
          </div>
        </div>
    </div>

    <br/>
  



    <div class="card shadow-lg border-0">
        <div class="card-header text-center bg-primary text-white">
            <h1>Contact Us</h1>
        </div>
  
    </div>
    
    <div class="row mt-1">
        <div class="col-md-6">
            <h3 class="text-primary">>Location:</h3>
            <p>123 Tech Avenue, Silicon Valley, CA 94043, United States</p>
        </div>


        <div class="col-md-6">
            <h3 class="text-primary">>Email:</h3>
            <p>contact&#64;techinnovations.com</p>

        </div>
        <div class="col-md-6">
            <h3 class="text-primary">>Mobile:</h3>
            <p>+1 (555) 123-4567</p>
        </div>
        <div class="col-md-6">
            <h3 class="text-primary">>Fax:</h3>
            <p>123-4567</p>
        </div>
    </div>
  </div>
  
