<!--<div style="display: flex; justify-content: space-between; font-size: 20px; width: 100%;">
    <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/" style="margin-right: 20px;">Home</a>
    <a [routerLinkActiveOptions]="{exact:true}"routerLinkActive="active" routerLink="/users" style="margin-right: 20px;">Login</a>
    <a routerLinkActive="active" routerLink="/users/5" style="margin-right: 20px;">About Us</a>
    <a routerLinkActive="active" routerLink="/users/5" style="margin-right: 20px;">Products</a>
    <a routerLinkActive="active" routerLink="/users/5" style="margin-right: 20px;">Profile</a>
    <a routerLinkActive="active" routerLink="/**" style="font-size: 20px;">Register</a>
</div>-->

<!---<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item mx-3"> 
            <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item mx-3">
            <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item mx-3">
            <a routerLinkActive="active" routerLink="/about" class="nav-link">About Us</a>
        </li>
        <li class="nav-item mx-3">
            <a routerLinkActive="active" routerLink="/products" class="nav-link">Products</a>
        </li>
        <li class="nav-item mx-3">
            <a routerLinkActive="active" routerLink="/profile" class="nav-link">Profile</a>
        </li>
        <li class="nav-item mx-3">
            <a routerLinkActive="active" routerLink="/register" class="nav-link">Register</a>
        </li>
        </ul>
    </div>
    </div>
</nav>-->

<!-- pizza-home.component.html -->
<div class="container mt-3">
    <div class="text-center mb-2 transparent-background">
      <h1 class="display-4 text-primary">Welcome to Pizza Paradise</h1>
      <p class="lead">Your favorite place for delicious pizzas.</p>
    </div>

<!-- Promotional Slideshow -->
<div id="promoCarousel" class="carousel slide mb-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <h5 class="text-center mt-5">Stuffed Crust</h5>
            <p class="text-center">Original Stuffed Crust now available!</p>
            <img src="offers1.jpg" class="d-block w-100" alt="Promo 1">
            <div class="carousel-caption d-none d-md-block">
                <a href="#" class="btn btn-danger">Order Now</a>
              </div>

          </div>
          <div class="col-md-4 position-relative">
            <h5 class="text-center mt-5">Monday Madness</h5>
            <p class="text-center">Buy One Get One Free!</p>
            <img src="offers2.jpg" class="d-block w-100" alt="Promo 2">
            <div class="carousel-caption d-none d-md-block">

              <a href="#" class="btn btn-danger">Order Now</a>
            </div>
          </div>
          <div class="col-md-4 position-relative">
              <h5 class="text-center mt-5">Thursday Special</h5>
              <p class="text-center">Buy 2 Large Pizzas, Get One Free!</p>
            <img src="offers3.jpg" class="d-block w-100" alt="Promo 3">
            <div class="carousel-caption d-none d-md-block">
              <a href="#" class="btn btn-danger">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  <h2 class="text-center mt-5">Our Products</h2>
    <div class="mb-4">
        <h5 class="text-center mt-5">{{ getCurrentSlide().title }}</h5>
        <p class="text-center">{{ getCurrentSlide().description }}</p>
        <img [src]="getCurrentSlide().image" class="d-block mx-auto carousel-image" [alt]="getCurrentSlide().title">
        <div class="carousel-caption d-none d-md-block">

    </div>
</div>
